.navbar{
    height: 12vh;
    background: lightslategrey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(1, 95, 102);
    /* outline: brown; */
}
a:hover {
    border-bottom: 1px solid brown;

}
.logo{
    padding: 0 30px;
    box-sizing: border-box;
}
.navCompoenetItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
